<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Shaannessy Tweet-Generator</title>
</head>

<body >
    <div class="container-fluid">
        <div class="row">
            <!--Generates Tweet-->
            <div class="col-12 col-sm-6 col-md-8 ">
            
                    <div class="col-12">
                        <h1 class="display1" align="center">Shaannessy Tweet-Generator</h1>
                        <hr />
                        <img src="/static/King.jpg" alt="king" height="500px" width="500px" class='center'>
                        <h3 class="display-5" align="Center">{{ sentence_text }}</h3>
                        <form action="/">
                            <center>
                            <button type="submit" class="btn btn-light center">
                                Generate!
                            </button>
                            </center>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</body>